

.room__img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card{
    border: none !important;
    box-shadow: rgba(0,0,0,0.2) 0px 18px 50px -10px;
}

.room__img{
    position: relative;
}

.room__img span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: var(--primary-color);
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}

.card__top span i{
    color: var(--secondary-color);
}

.room__rating{
    font-size: .9rem;
    color: var(--text-color);
}

.room__location{
    color: var(--heading-color);
    font-weight: 500;
    font-size: .9rem;
}

.room__rating i, .room__location i{
    font-size: 1rem;
}

.room__title{
    margin-top: 1rem;
    font-size: 1.1rem;
}

.room__title a{
    text-decoration: none;
    color:var(--heading-color);
    transition: .3s;
}

.room__title a:hover{
    color: var(--secondary-color);
}

.card__bottom h5{
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 700;
}

.card__bottom h5 span{
    font-weight: 500;
    color: var(--text-color);
    font-size: 0.8rem;
}

.booking__btn{
    background: var(--secondary-color) !important;
    font-size: 14px;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    color: white;
}

.btn__danger {
    background-color: red !important;
}

.booking__btn a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
}

.booking__btn a:hover{
    color: #fff;
}

/* Style the modal body */
.modal-body {
    padding: 20px;
}

/* Style the carousel */
.carousel {
    max-width: 100%;
    height: auto;
}

/* Style the carousel indicators */
.carousel-indicators {
    bottom: -30px;
}
/* Style the carousel items */
.carousel-item img {
    width:100%;
    height: auto;
    border-radius: 10px;
}
.carousel-item-under img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    padding-top: 10px;
}
/* Style the room info */
.room__info {
    padding: 20px;
}

/* Style the form inside the room info */
.room__info form {
    margin-top: 20px;
}

/* Style the form group */
.form-group {
    margin-bottom: 15px;
}

/* Style the labels */
label {
    font-weight: bold;
}

/* Style the inputs */
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the buttons in the modal footer */
.modal-footer button {
    margin-right: 10px;
}


.btn {
    color: white;
}